:root {
  /* 主要配色 */
  --krs-main-bgcolor-dark: #9b7329;
  --krs-main-bgcolor: #fbf8f0;
  --krs-button-face-color: #dfc47b;
  --krs-button-face-color-checked: #594317;
  --krs-button-face-color-hover: #806122;
  --krs-button-border-color: #bbbbbb;
  --krs-card-border-color: #dac78c;
  --krs-card-bgcolor: #e2d3bd;
  --krs-main-font-color: white;
  --krs-help-icon-bgcolor: #5a9bd4;

  /* */
  --krs-banner-url: url('/image/other/funguy.webp');

  /* 卡牌, 神器等卡片的显示尺寸 */
  --krs-card-width: 240px;
  --krs-card-height: calc(var(--krs-card-width) * 6 / 4);

  /* 词条的宽度 */
  --krs-term-width: 360px;
}

html {
  font-size: 12px;
}

header,
main,
footer,
div,
p,
input,
img,
details,
summary {
  box-sizing: border-box;
}

hr {
  border: none;
  /* 移除浏览器默认的边框 */
  height: 1px;
  /* 设置线条的粗细（高度）*/
  background-color: #ccc;
  /* 设置线条的颜色 */
  margin: 8px 0;
  /* 控制线条上下与周围元素的间距 */
  width: 100%;
  /* 默认线条宽度与父容器相同 */
}

dialog {
  box-sizing: border-box;
  background-color: var(--krs-main-bgcolor);
  border: none;
  /* 多数情况下，用阴影替代边框 */
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

dialog:focus-visible {
  outline: 2px solid var(--krs-main-bgcolor-dark);
  outline-offset: 2px;
  /* 使边框离元素远一点，不遮盖 */
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  /* 半透明黑色 */
  backdrop-filter: blur(4px);
  /* 模糊背景 */
}

/* tooltip 的通用样式 */
.tooltip {
  background-color: var(--krs-main-bgcolor-dark);
  color: var(--krs-main-font-color);
  font-weight: normal;
  border-radius: 6px;
  padding: 5px;
}

/* 表格风格的 tooltip, 目前主要是显示保存的查询标签的详情 */
.grid-tooltip {
  display: grid;
  grid-template-columns: 70px 200px;
  text-align: left;
  gap: 3px;
}
/* 表格风格的 tooltip 的单元格样式 */
.grid-tooltip-item {
  /* 确保换行 */
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid #ccc;
  padding: 0 3px;
}
/* 表格风格的 tooltip 的表头样式 */
.grid-tooltip-header {
  font-weight: bold;
}