/* @import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"; */
@import "../proto/layout/layout.css";
@import "../proto/image-toggle-button/style.css";
@import "../proto/card-list-view/style.css";
@import "../proto/item-card/style.css";
@import "../css/default.css";

.search-container {
  display: flex;
  /* 启用 Flexbox 布局 */
  align-items: center;
  /* 垂直居中对齐子项 */
  gap: 1px;
  /* input 和 button 之间的间距 */
  width: 90%;
  /* 容器宽度 */
  margin: 10px auto;
  /* 居中显示容器 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#search-input {
  flex-grow: 1;
  /* 让输入框尽可能占据可用空间 */
  padding: 10px 10px;
  border: 1px solid #ddd;
  border-radius: 6px 0 0 6px;
  font-size: 14px;
}

#search-button {
  padding: 4px 4px;
  background-color: var(--krs-button-face-color);
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 20px;
  white-space: nowrap;
  /* 防止按钮文本换行 */
}

#search-button:hover {
  background-color: var(--krs-button-face-color-hover);
}

.search-tag-list {
  box-sizing: border-box;
  width: calc(100% - 20px);
  max-height: 500px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 10px;
  gap: 2px;

}

search-tag {
  box-sizing: border-box;
  line-height: 1.8;
}

/***************************************************************************/
dialog {
  min-width: 650px;
  max-height: 90vh;
}
.dialog-content {
  width: 800px;
  margin: 10px auto;
  background-color: var(--krs-main-bgcolor);
}

.dialog-content div {
  margin: 0;
}