.section-divider {
  display: flex;
  /* 使用 Flexbox 布局 */
  align-items: center;
  /* 垂直居中文本 */
  text-align: center;
  /* 确保文字在分隔符中居中 */
  margin: 10px 0 20px;
  /* 上下外边距 */
  color: var(--krs-button-face-color-checked);
  /* 文字颜色 */
  font-size: 1rem;
  font-weight: bold;

  cursor: default;
  /* 文本无法选取 */
  user-select: none;
}

.section-divider::before,
.section-divider::after {
  content: '';
  /* 伪元素内容必须是空字符串 */
  flex-grow: 1;
  /* 让伪元素占据可用空间 */
  height: 1px;
  /* 线的高度 */
  background-color: var(--krs-button-border-color);
  /* 线的颜色 */
}

.section-divider::before {
  margin-right: 10px;
  /* 左侧线与文字的间距 */
}

.section-divider::after {
  margin-left: 10px;
  /* 右侧线与文字的间距 */
}

.section-help-container {
  position: relative; /* 确保子元素可以基于它定位 */
  /* display: inline-block; */
  cursor: pointer; /* 鼠标指针变为手型，提示可交互 */
  margin: 0 0 0 4px;
}

.section-help-icon {
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--krs-help-icon-bgcolor);
  color: var(--krs-main-font-color);
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
}

.section-help-text {
  visibility: hidden;
  position: absolute;
  opacity: 0;

  background-color: var(--krs-main-bgcolor-dark);
  color: var(--krs-main-font-color);
  text-align: center;
  white-space: pre;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.section-help-container:hover .section-help-text {
  visibility: visible;
  opacity: 1;
}