.image-toggle-button {
  position: relative;
  background-color: var(--krs-button-face-color);
  font-weight: bold;
  font-size: 14px;
  border-color: var(--krs-button-border-color);
}

.image-toggle-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-toggle-button-group {
  margin: 2px auto;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
}

.image-toggle-button div {
  visibility: hidden;
  position: absolute;
  opacity: 0;

  background-color: var(--krs-main-bgcolor-dark);
  color: #fff;
  text-align: center;
  white-space: pre;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.image-toggle-button:hover div {
  visibility: visible;
  opacity: 1;
}
.toggle-off {
  filter: grayscale(100);
  background-color: transparent;
}

/* button sizes */
.button-size56x56 {
  padding: 4px;
  width: 56px;
  height: 56px;
}

.button-size42x42 {
  padding: 0px;
  width: 42px;
  height: 42px;
}

.button-size42x48 {
  padding: 0px;
  width: 42px;
  height: 48px;
}