.card-list-view {
  box-sizing: border-box;
  width: calc(100% - 17px);
  /* 给容器一个相对宽度 */

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* 元素之间的固定间距 */

  /* 保证行间距和列间距的紧凑 */
  justify-content: flex-start;
  align-content: flex-start;

  scrollbar-gutter: stable;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-list-view item-card {
  box-sizing: border-box;
  width: 240px;
  height: 360px;
}

.scroll-view {
  scrollbar-gutter: stable;
  overflow-y: scroll;
  overflow-x: hidden;
}