/************************************ path 区 ***************************************/
.tabs-container {
  max-width: 800px;
  border-radius: 8px;
  padding: 0 10px;
}

/* 隐藏实际的 radio 按钮 */
.tabs-container input[type="radio"] {
  display: none;
}

/* Tab 标题样式 */
.tabs-container label {
  display: inline-block;
  padding: 4px 20px;
  cursor: pointer;
  background-color: var(--krs-button-face-color);
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
  font-weight: bold;
  font-size: 1rem;
  color: var(--krs-main-font-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Tab 标题鼠标悬停效果 */
.tabs-container label:hover {
  background-color: var(--krs-button-face-color-hover);
  color: var(--krs-main-bgcolor-dark);
}

/* 选中 Tab 标题的样式 */
.tabs-container input[type="radio"]:checked+label {
  background-color: var(--krs-button-face-color-checked);
  color: var(--krs-main-font-color);
}

/* Tab 内容区域样式 */
.tabs-container .tab-content {
  padding: 4px;
  border: 1px solid #ddd;
  /* 移除顶部边框，与 Tab 标题衔接 */
  border-top: none;

  --krs-card-width: 200px;
  background-color: var(--krs-card-bgcolor);
  border-radius: 0 0 8px 8px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* 当对应的 radio 按钮被选中时，显示其后的 tab-content */
.tabs-container input[type="radio"]:checked+label+.tab-content {
  display: flex;
  /* 显示选中 Tab 的内容 */
}

/************************************ basic 区 ***************************************/


/************************************ basic 区 ***************************************/
.card-basic-info {
  display: flex;
  flex-direction: row;
  gap: 6px;
  /* --krs-card-width: 300px;
  --krs-card-height: calc(300px * 6 / 4); */
}

.card-basic-info .card-terms {
  flex: 2 0;

}

.card-basic-info item-card {
  flex: 1 0;
}

.card-basic-info .card-details {
  flex: 2 0;

}

.card-title {
  position: relative;

  width: 100%;
  background-color: var(--krs-main-bgcolor-dark);
  color: var(--krs-main-font-color);
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 0 0 0;
  padding: 4px;
}

.card-title .title-text {
  margin-left: 30px;
}

.card-title img {
  width: 70px;
  height: auto;
}

.card-title .inline-image-wrapper {
  width: 4em;
}

.title-tooltip {
  font-size: 1rem;
  color: var(--krs-main-bgcolor-dark);
  position: absolute;
  top: -30px;
  z-index: 1;
  opacity: 0;
}

.fading {
  transition: opacity 4s ease-in;
}

.card-notes {
  font-size: 1rem;
  max-width: 610px;
}

.card-note-list {
  padding: 0;
}
.card-note-list li {
  /* 使用实心圆点 */
  list-style-type: disc;
  /* 调整缩进 */
  margin-left: 1.5em;
}
.dlg-tooltip {
  position: fixed;
  z-index: 100;
  pointer-events: none;
}
.dlg-has-border {
  border: 4px solid var(--krs-main-bgcolor-dark);
}