.card-container {
  /* 想要使用 position: absolute; 来精确地定位一个元素,  */
  /* 需要为它的父元素或者最近的定位祖先元素设置一个非 static 的 position 值。 */
  position: relative;
  box-sizing: border-box;

  width: var(--krs-card-width);
  /* 固定 div 的宽度 */
  height: var(--krs-card-height);
  /* 固定 div 的高度 */

  border: 2px solid var(--krs-card-border-color);
  padding: 8px;
  background-color: var(--krs-card-bgcolor);
  transition: transform 0.5s ease-in-out, border-color 0.3s ease-in-out;
}

.card-container:hover {
  border-color: var(--krs-main-bgcolor-dark);
}

/* 元素进入时的初始状态 */
.card-container.entering {
  /* opacity: 0.4; */
  /* 动画效果 */
  transform: translateX(70px);
}

/* 元素进入后的最终状态 */
.card-container.entered {
  /* opacity: 1; */
  transform: translateX(0);
}

/* 元素离开时的最终状态 */
.card-container.leaving {
  opacity: 0;
  transform: translateY(-20px);
}

.card-container>.card-image {
  box-sizing: border-box;
  object-fit: contain;
  /* !!! 关键 !!! 等比缩放并覆盖整个容器 */
  display: block;
  /* 移除图片底部可能存在的额外空间 */
}

.card-container>.card-name {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  font-size: 1.4rem;
  font-weight: 800;
  border: 4px solid #777c7c;
  background-color: #323a39;
  color: white;
  text-align: center;
}

.card-container>.card-effect-area {
  box-sizing: border-box;
  width: 90%;
  height: 120px;
  padding: 4px;
  font-size: 1.2rem;
  line-height: 1.3;
  overflow: hidden;
  margin: 0 auto;
  background-color: #323a39;
  color: white;
  text-align: center;
  border-top: 0px;
  border-right: 4px solid #777c7c;
  border-bottom: 4px solid #777c7c;
  border-left: 4px solid #777c7c;
  display: flex;
  align-items: center;
}

.celestial_alcove-icon {
  position: absolute;
  left: 100%;
  top: 40px;
  width: 36px;
  height: auto;
  transform: translateX(calc(-100% - 3px));
  display: none;
}

.card-img-small {
  width: 110px;
  height: 110px;
  margin: 32px auto 28px auto;
  border: 6px solid #b97b44;
  padding: 6px 0;
}

.card-img-normal {
  height: calc(100% - 12px);
  /* 图片高度填充 div 高度 */
  margin: 6px auto;
}

.term-basic {
  background-color: #1b434b;
  width: var(--krs-term-width);
  overflow-wrap: break-word;
  border: 4px solid#2f7282;
  margin: 2px;
  padding: 4px;
}

.term-ability {
  background-color: #612a00;
  width: var(--krs-term-width);
  overflow-wrap: break-word;
  border: 4px solid#a34d20;
  margin: 2px;
  padding: 4px;
}

.term-trigger {
  background-color: #592378;
  width: var(--krs-term-width);
  overflow-wrap: break-word;
  border: 4px solid#b54bd6;
  margin: 2px;
  padding: 4px;
}

.term-feature {
  background-color: #8e5e20;
  width: var(--krs-term-width);
  overflow-wrap: break-word;
  border: 4px solid#e4b943;
  margin: 2px;
  padding: 4px;
}

.term-buff {
  background-color: #165a38;
  width: var(--krs-term-width);
  overflow-wrap: break-word;
  border: 4px solid#2ba96c;
  margin: 2px;
  padding: 4px;
}

.term-debuff {
  background-color: #852521;
  width: var(--krs-term-width);
  overflow-wrap: break-word;
  border: 4px solid#a42a26;
  margin: 2px;
  padding: 4px;
}

.term-property {
  background-color: #2a2e2f;
  width: var(--krs-term-width);
  overflow-wrap: break-word;
  border: 4px solid#6f787f;
  margin: 2px;
  padding: 4px;
}

.term-summon {
  background-color: #2a2e2f;
  width: var(--krs-term-width);
  overflow-wrap: break-word;
  border: 4px solid#6f787f;
  margin: 2px;
  padding: 4px;
}

.term-title {
  color: white;
  font-size: 1.4rem;
  font-weight: 1000;
  line-height: 1.3;
  margin: 0;
}

.term-effect {
  color: white;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0;
}