@import './style.css';
@import '../../css/default.css';
@import '../layout/layout.css';

header {
  box-sizing: border-box;
  border: 2px solid #222222;
  color: white;
  padding: 0px;

  /* 垂直居中子项 */
  display: flex;
  align-items: center;
}

header p {
  background-color: burlywood;
  font-weight: bold;
  font-size: 1.8rem;
  width: 100%;
}

footer>div {
  display: flex;
  /* 将子元素分散到两端 */
  justify-content: space-between;
  /* 可选：垂直居中 */
  align-items: center;
  /* 可选：增加内边距 */
  padding: 0 20px;
}