.header-icon {
  position: relative;
  display: inline-block;
  width: 140px;
  margin-left: 30px;
}

.header-icon img {
  position: absolute;
  width: 140px;
  height: auto;
  transform: translateY(-60%);
}

header>p {
  position: relative;
}

header .menu-button {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-150%, -50%);

  width: 42px;
  height: 42px;
  padding: 10px;
}

.footer__button-container {
  position: relative;
}

footer .menu-button {
  position: absolute;
  top: -24px;
  width: 36px;
  height: 36px;
  padding: 2px;
  border-width: 2px;
}