@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

/* 确保 html 和 body 高度为 100% */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 使用 Flexbox 使页面内容布局 */
body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  text-align: center;
}

main {
  flex: 1;
  /* 占据剩余空间 */
  background-color: #ffffff;
  padding: 20px;
}

footer {
  background-color: #584e4e;
  color: white;
  text-align: center;
  padding: 5px;
}

/* ///////////////////////////////////////////////////////////////////////// */
.card {
  width: 300px;
  height: 400px;
  --bulma-card-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image-figure {
  width: 80%;
  height: auto;
  margin: 0;
}

.card-content .media-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #4CAF50;
}

.card-content {
  padding: 10px;
}

/* ///////////////////////////////////////////////////////////////////////// */

.card {
  /* 必须设置父元素的 position: relative, 子元素的 position: absolute 才可以生效 */
  /* 所有 HTML 元素的默认 position 值是 static */
  /* 如果父元素的 position 是 static, 则子元素的 position: absolute 无效 */
  /* 只有父元素的 position 设置为 relative / absolute / fixed / sticky 其中之一， 子元素的 position: absolute 才可以相对于父元素定位 */
  position: relative;
}

.badge {
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  background-color: rgba(45, 86, 173, 0.733);
  padding: 0px 12px;
  border-radius: 6px;
  z-index: 10;
  /* 确保显示在上层 */
}

.badge span {
  padding: 0px;
  font-size: 48px;
  font-weight: bold;
  color: #e2e2e2;
}