@use "sass:color";

@function deep-color($clr) {
  // 减少亮度（Lightness），让颜色变深
  $clr: color.scale($clr, $lightness: -40%);
  // 减少饱和度（Saturation），让颜色更柔和
  $clr: color.scale($clr, $saturation: -25%);
  @return $clr;
}

:root {
  //----------------------------- 主题: 默认 -------------------------------
  /* 主要配色 */
  --krs-main-bgcolor-dark: hsl(38.9, 58.2%, 38.4%);
  --krs-main-bgcolor: hsl(43.6, 57.9%, 96.3%);
  --krs-button-face-color: hsl(43.8, 61%, 67.8%);
  --krs-button-face-color-checked: hsl(40, 58.9%, 22%);
  --krs-button-face-color-hover: hsl(40.2, 58%, 31.8%);
  --krs-button-border-color: hsl(0, 0%, 73.3%);
  --krs-card-border-color: hsl(45.4, 51.3%, 70.2%);
  --krs-card-bgcolor: hsl(35.7, 38.9%, 81.4%);
  --krs-main-font-color: hsl(0, 0%, 100%);
  --krs-help-icon-bgcolor: hsl(208, 58.7%, 59.2%);
  /* banner 图片 */
  --krs-banner-url: url('/image/other/funguy.webp');

  //----------------------------- 其他参数 -------------------------------
  /* 卡牌, 神器等卡片的显示尺寸 */
  --krs-card-width: 240px;
  --krs-card-height: calc(var(--krs-card-width) * 6 / 4);
  /* 词条的宽度 */
  --krs-term-width: 360px;
  //----------------------------- 主题色 -------------------------------
  $tmp-color: hsl(188.2, 84.8%, 38.8%);
  --krs-color-banished: #{$tmp-color};
  $tmp-color: deep-color($tmp-color);
  --krs-color-banished-darker: #{$tmp-color};
  $tmp-color: hsl(339.1, 89.7%, 45.9%);
  --krs-color-pyreborne: #{$tmp-color};
  $tmp-color: deep-color($tmp-color);
  --krs-color-pyreborne-darker: #{$tmp-color};
  $tmp-color: hsl(301.3, 100%, 91%);
  --krs-color-lunacoven: #{$tmp-color};
  $tmp-color: deep-color($tmp-color);
  --krs-color-lunacoven-darker: #{$tmp-color};
  $tmp-color: hsl(24.7, 79.5%, 52.2%);
  --krs-color-underlegion: #{$tmp-color};
  $tmp-color: deep-color($tmp-color);
  --krs-color-underlegion-darker: #{$tmp-color};
  $tmp-color: hsl(73.8, 57.9%, 54.3%);
  --krs-color-lazarusleague: #{$tmp-color};
  $tmp-color: deep-color($tmp-color);
  --krs-color-lazarusleague-darker: #{$tmp-color};
  $tmp-color: hsl(12, 100%, 50.8%);
  --krs-color-hellhorned: #{$tmp-color};
  $tmp-color: deep-color($tmp-color);
  --krs-color-hellhorned-darker: #{$tmp-color};
  $tmp-color: hsl(91.5, 93.7%, 37.1%);
  --krs-color-awoken: #{$tmp-color};
  $tmp-color: deep-color($tmp-color);
  --krs-color-awoken-darker: #{$tmp-color};
  $tmp-color: hsl(272.6, 93%, 60.8%);
  --krs-color-stygainguard: #{$tmp-color};
  $tmp-color: deep-color($tmp-color);
  --krs-color-stygainguard-darker: #{$tmp-color};
  $tmp-color: hsl(46.6, 99.1%, 54.9%);
  --krs-color-umbra: #{$tmp-color};
  $tmp-color: deep-color($tmp-color);
  --krs-color-umbra-darker: #{$tmp-color};
  $tmp-color: hsl(211.7, 88.6%, 65.7%);
  --krs-color-meltingremnant: #{$tmp-color};
  $tmp-color: deep-color($tmp-color);
  --krs-color-meltingremnant-darker: #{$tmp-color};
}

html {
  font-size: 12px;
}

header,
main,
footer,
div,
p,
a,
input,
img,
details,
summary {
  box-sizing: border-box;
}

/* 未访问的链接 */
a:link {
  color: var(--krs-main-font-color);
  text-decoration: none;
}

/* 已经访问过的链接 */
a:visited {
  color: var(--krs-main-font-color);
}

/* 鼠标悬停在链接上 */
a:hover {
  color: var(--krs-main-bgcolor);
  text-decoration: underline;
  /* 鼠标悬停时显示下划线 */
}

/* 链接被点击时 */
a:active {
  color: var(--krs-main-font-color);
}

p,
a {
  margin: 0;
}

hr {
  border: none;
  /* 移除浏览器默认的边框 */
  height: 1px;
  /* 设置线条的粗细（高度）*/
  background-color: #ccc;
  /* 设置线条的颜色 */
  margin: 8px 0;
  /* 控制线条上下与周围元素的间距 */
  width: 100%;
  /* 默认线条宽度与父容器相同 */
}

dialog {
  box-sizing: border-box;
  background-color: var(--krs-main-bgcolor);
  border: none;
  /* 多数情况下，用阴影替代边框 */
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

dialog:focus-visible {
  outline: 2px solid var(--krs-main-bgcolor-dark);
  outline-offset: 2px;
  /* 使边框离元素远一点，不遮盖 */
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  /* 半透明黑色 */
  backdrop-filter: blur(4px);
  /* 模糊背景 */
}

/* tooltip 的通用样式 */
.tooltip {
  background-color: var(--krs-main-bgcolor-dark);
  color: var(--krs-main-font-color);
  font-weight: normal;
  border-radius: 6px;
  padding: 5px;
}

/* 表格风格的 tooltip, 目前主要是显示保存的查询标签的详情 */
.grid-tooltip {
  display: grid;
  grid-template-columns: 70px 200px;
  text-align: left;
  gap: 3px;
}

/* 表格风格的 tooltip 的单元格样式 */
.grid-tooltip-item {
  /* 确保换行 */
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid #ccc;
  padding: 0 3px;
}

/* 表格风格的 tooltip 的表头样式 */
.grid-tooltip-header {
  font-weight: bold;
}

/*----------------------------- 设置按钮 / 面板切换按钮 -----------------------------*/
.menu-button {
  display: flex;
  align-content: center;
  border: 1px solid var(--krs-button-face-color-checked);
  border-radius: 50%;
  background-color: var(--krs-main-bgcolor);
  cursor: pointer;
}

.menu-button:hover {
  background-color: var(--krs-button-face-color);
}

.menu-button img {
  object-fit: contain;
}
