/* 确保 html 和 body 高度为 100% */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 使用 Flexbox 使页面内容布局 */
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

header {
  box-sizing: border-box;
  background-color: beige;
  border-bottom: 1px solid #555555;
  color: white;
  padding: 0px;

  /* 垂直居中子项 */
  display: flex;
  align-items: center;

  /* 固定高度 */
  flex-shrink: 0;
  height: 90px;
  max-height: 90px;
}

header header-content {
  background-color: #9b7329;
  margin: 0px;
  width: 100%;
  font-weight: 1000;
  font-size: 18px;
}

main {
  box-sizing: border-box;
  flex: 1;
  /* 占据剩余空间 */
  background-color: #f4f4f4;
  margin: 0px;
  padding: 4px;

  display: flex;
  flex-direction: row;
  max-height: calc(100vh - 120px);
}

footer {
  box-sizing: border-box;
  background-color: #9b7329;
  border-top: 1px solid #555555;
  color: white;
  text-align: center;
  padding: 0px;

  flex-shrink: 0;
  height: 30px;
  /* 固定高度 */
  max-height: 30px;
}

footer p {
  margin: 0px;
  font-weight: 1000;
}

/* ///////////////////////////////////////////////////////////////////////// */
.left-panel {
  box-sizing: border-box;
  background-color: beige;
  flex: 1;
}

.right-panel {
  box-sizing: border-box;
  width: 380px;
  /* 固定宽度 */
  flex-shrink: 0;
}

/* ///////////////////////////////////////////////////////////////////////// */