/* 确保 html 和 body 高度为 100% */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 使用 Flexbox 使页面内容布局 */
body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  text-align: center;

  flex-shrink: 0;
  height: 40px; /* 固定高度 */
}

main {
  flex: 1;
  /* 占据剩余空间 */
  background-color: #f4f4f4;
  padding: 4px;

  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;

  flex-shrink: 0;
  height: 40px; /* 固定高度 */
}

/* ///////////////////////////////////////////////////////////////////////// */
.left-panel {
  background-color: beige;
  flex: 1;
}
.right-panel {
  width: 380px; /* 固定宽度 */
  flex-shrink: 0;
}
.grid {
  margin: 20px;
}
/* ///////////////////////////////////////////////////////////////////////// */
