@import "../../css/default.css";
@import "./style.css";
@import "../item-card/style.css";
@import "../section-divider/style.css";

.setting-dialog-content {
  width: 720px;
  margin: 100px auto;
  background-color: var(--krs-main-bgcolor);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
